.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#two-degree {
  font-size: 40px;
  font-weight: 600;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#sec {
  position: relative;
  transform: translate(50%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
#icon {
  width: 50px;
  height: 50px;
}
#text-box {
  padding: 5px;
}
#search-btn {
  padding: 5px;
  margin-left: 5px;
  background-color: #93a4f0;
  border: none;
  font-size: 16px;
}
#two-links {
  position: relative;
  display: inline-block;
}
#btn {
  display: inline-block;
  text-decoration: none;
  background-color: #7c92f5;
  padding: 0px 2px;
  font-size: 15px;
  position: static;

  transform: translate(50%, -100%);
}
#text {
  font-size: 16px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#container {
  background-color: #c8f1f5;
  box-shadow: rgba(37, 39, 89, 2) 0px 8px 8px 0;
}
.App-header {
  margin: 50px auto;
  max-width: 600px;
  background-color: #c8f1f5;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
